<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="the.family.planner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".family.CreateFamilyActivity"
            android:parentActivityName=".family.FamilyActivity" />
        <activity android:name=".family.JoinFamilyActivity" android:parentActivityName=".family.FamilyActivity" />
        <activity
            android:name=".family.FamilyActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".auth.EditProfileActivity"
            android:parentActivityName=".auth.ProfileActivity" />
        <activity
            android:name=".auth.ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".task.EditTask"
            android:parentActivityName=".task.ShowTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".task.ShowTask"
            android:parentActivityName=".DayViewActivity" />
        <activity
            android:name=".task.AddTaskDayActivity"
            android:parentActivityName=".DayViewActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".task.AddTaskMonthActivity"
            android:parentActivityName=".MonthViewActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ShoppingActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MonthViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WeekViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DayViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".auth.RegisterUserActivity"
            android:parentActivityName=".auth.LoginActivity" />
        <activity android:name=".auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.ResetPasswordActivity"
            android:parentActivityName=".auth.LoginActivity" />
    </application>

</manifest>